@import "tailwindcss";

/* Reset and layout */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  color:white;
}

/* Background setup */
body {
  position: relative;
  background: url("/bg.jpg") center center / cover no-repeat fixed;
}

/* Add a dark overlay for dull effect */
body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.3); 
  z-index: -1;
}
